body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        /* Conteneur de l'arrière-plan */
        .fixed-background {
            background-image: url('Capture d'écran 2024-10-27 143202.png');
            background-attachment: fixed; /* Garde l'arrière-plan fixe */
            background-size: 700px; /* Ajuste la taille pour couvrir tout l'écran */
            background-position: center; /* Centre l'image */
            height: 75vh; /* Occupe toute la hauteur de la fenêtre */
            background-repeat: no-repeat;
        }

        /* Contenu de la page */
        .content {
            padding: 100px;
            background-color: rgba(255, 255, 255, 0.9); /* Couche légèrement opaque */
            height: 115vh;
        }
